/* Color codes
   - Green from logo: #32ae45
   - Red from logo: #f05a29
   - Blue from logo: #01acf0
   - Yellow from logo: #ffe400
   - Pink from logo: #f3848d
*/

/* Fonts */
@font-face {
    font-family: Brandon;
    src: url("../fonts/Brandon_reg.otf") format("opentype");
}

/* Remove the default margin */
body {
    margin: 0;
}

body {
    padding-top: 70px;
}

#map_canvas {
    height: 400px;
    padding-top: 60px;
}

#vacatureblok {
    position: relative !important;
    top: 0px !important;
}

.vacature {
    height: auto;
    width: auto;
    margin-bottom: 10px !important;
    padding-bottom: 10px !important;
}

.contact-content, .over-content {
    padding: 5%;
}

#contact-container {
    margin-bottom: 5%;
}

.kopje {
    font-weight: bold;
    text-decoration: underline;
}

#werkplaats-btn {
    background-color: #f05a29;
    font-weight: bold;
}

#vriend-btn {
    background-color: #f05a29;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
}

#vriend-a {
    text-decoration: none;
    color: white;
}

.wrapper-btn {
    text-align: center;
}

.link {
    color: #f3848d;
}

.slider {
    width: 100%;
}

.fotoblok, .fotoblok img {
    width: 100%;
    height: auto;
}

.nieuws-nu {
    border: 3px solid rgb(238, 134, 141);
    padding: 10px;
}

.nieuws-workshops {
    border: 3px solid rgb(0, 174, 239);
    padding: 10px;
}

.textblok {
    top: 600px;
}

.leesmeer {
    bottom: 2px;
}

#item .arch:first-of-type {
    font-size: 24px;
}

.nieuws-archief {
    border: 3px solid rgb(241, 90, 41);
    padding: 10px;
}

/* Footer styling. */
footer {
    width: 100%;
    border-top: 1px solid #e7e7e7;
    color: white;
    padding-top: 10px;
    font-family: 'Brandon', serif;
    background-color: #424242;
    box-shadow: 0 0 5px #ccc;
}

footer > .container {
    padding-top: 0;
    padding-bottom: 30px;
}

.copyright-statement {
    margin-top: 10px;
    padding: 10px 0 2px 0;
    font-size: 15px;
    background-color: #f05a29;
    color: white;
}

.social-media-channels {
    margin-top: 30px;
}

.social-media-channels a {
    color: #424242;
    padding: 4px;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.social-media-channels a:hover {
    text-decoration: none;
    color: white;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.social-media-channels i {
    font-size: 18px;
    width: 36px;
    border-radius: 50%;
    background-color: #f05a29;
    height: 36px;
    text-align: center;
    line-height: 36px;
}

.contact-footer .contact-icon {
    color: #32ae45;
    float: left;
    width: 25px;
}

.contact-footer .contact-details {
    text-align: left;
}

.contact-details a, .contact-details a:hover {
    color: #aad8ff;
}

.contact-icon .fa-map-marker {
    color: #f05a29;
    margin-top: 9px;
    margin-left: 3px;
}

.contact-icon .fa-envelope-o {
    color: #01acf0;
}

.contact-icon .fa-phone {
    margin-left: 2px;
}

.contact-footer > div {
    padding: 7px;
}

/* Navigation styling. */
nav {
    float: left;
    font-family: 'Brandon', serif;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-logo {
    height: 50px;
}

.navbar-custom .navbar-toggle {
    margin: 0;
    padding: 6px 10px;
    font-size: 24px;
}

@media (min-width: 768px) {
    .navbar-custom ul {
        float: right;
    }
}

.nav-logo img {
    height: inherit;
    padding-left: 20px;
}

.navbar-custom {
    border-bottom: 1px solid #bbbbbb;
    background: white;
    z-index: 99999 !important;
}

.navbar-custom li a {
    color: black;
    /* Fade out effect */
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.navbar-custom li a:hover {
    color: #f05a29;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-custom .admin-header {
    background: #363435;
    width: 100%;
    color: white;
    text-align: center;
    padding: 7px 0;
}

.navbar-custom .admin-header a {
    color: white;
}

/* Sponsoren */
.sponsors {
    padding: 5px;
    border: 4px solid transparent;
    align-content: center;
}

.sponsors td, th {
    text-align: center;
}

.sponsors img {
    width: 200px;
    height: 200px;
}

.sponsorTitle {
    padding: 0 5px;
    margin: 0 5px;
}

.nieuws-overzicht-home {
    font-family: 'Brandon', serif;
}

.nieuws-item-home {
    height: 180px;
    border: solid 1px red;
    padding: 10px;
}

.nieuws-date {
    color: #777373;
    font-size: 12px;
    margin-bottom: 3px;
    display: inline-block;
}

.nieuws-item-home .nieuws-titel {
    font-size: 20px;
    color: #01acf0;
}

.nieuws-item-home .nieuws-item-foto {
    height: 100%;
    width: 180px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
}

.nieuws-item-home .nieuws-item-foto img {
    height: 100%;
    margin: 0 auto;
    display: block;
}

.nieuws-item {
    padding-bottom: 50px;
}

.nieuws-item img {
    display: block;
    margin: 0 auto;
}

.nieuws-item-foto-groot {
    overflow: hidden;
}

/* General shit */
.centerH1 {
    text-align: center;
}

.text {
    padding: 0 10px;
}

button {
    display: block;
    float: none;
    margin: 0 auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* Werkplaats CSS */
.workspaces ul {
    padding: 0;
    list-style: none;
}

.workspaces {
    padding: 0;
    margin: 0;
    text-align: center;
    align-content: center;
}

/* Werkplaats disciplines CSS */
.Zeefdruk, .Lithografie, .Hoog\/diepdruk, .Overig {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px auto;
    border-radius: 10px;
    color: black;
    transition: all 1s ease-out;
}

.Zeefdruk:hover, .Lithografie:hover, .Hoog\/diepdruk:hover, .Overig:hover {
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    /*width: 100%;*/
}

.Zeefdruk {
    background-color: rgb(240, 197, 201);
    /*background-color: #f3848d;*/
}

.Lithografie {
    background-color: rgb(204, 233, 244);
    /*background-color: #01acf0;*/
}

.Hoog\/diepdruk {
    background-color: rgb(176, 220, 197);
    /*background-color: #32ae45;*/
}

.Overig {
    background-color: rgb(255, 255, 194);
    /*background-color: #ffe400;*/
}

.Zeefdruk:hover {
    background-color: #f3848d;
}

.Lithografie:hover {
    background-color: #01acf0;
}

.Hoog\/diepdruk:hover {
    background-color: #32ae45;
}

.Overig:hover {
    background-color: #ffe400;
}

.plattegrond {
    width: 100%;
}