body {
    margin: 0;
}
.headers {
    background: linear-gradient(dodgerblue, white);
    padding-left: 10px;
}
.titel{
    color:white;
    margin-bottom: 0px;
    margin-top: 10px;
}
.cmsName{
    color:#858585;
    text-align: right;
    margin-right: 15px;
}
.menu{

}
.home-screen{

}